{% extends "layout.html" %}
{% load static %}

{% block title %}แผนที่ลุ่มแม่น้ำในประเทศไทย{% endblock %}

{% block content %}
<div class="position-relative vh-100">
  <h2 class="position-absolute start-50 translate-middle-x bg-white px-4 py-2 shadow rounded-pill" 
      style="top: 20px; font-size: 1rem; z-index: 10;">
      แผนที่ลุ่มแม่น้ำในประเทศไทย (Thailand River Basins)
  </h2>
  <div id="map" class="border rounded position-relative top-0 start-0 w-100 h-100" style="height: 80vh; z-index: 1;"></div>
</div>


{% endblock %}

{% block extra_js %}
<!-- Pass the static file path as a JavaScript variable -->
<script>
  var kmzFilePath = "{% static 'kmz/Thaibasin.kmz' %}";
</script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-kmz@latest/dist/leaflet-kmz.js"></script>
<script src="{% static 'js/map.js' %}"></script>
{% endblock %}
