{% extends "layout.html" %}
{% load static %}

{% block title %}แผนที่ลุ่มแม่น้ำในประเทศไทย{% endblock %}

{% block content %}
<h2 class="text-center mb-4">แผนที่ลุ่มแม่น้ำในประเทศไทย (Thailand River Basins)</h2>
<div id="map" class="border rounded" style="height: 80vh;"></div>
{% endblock %}

{% block extra_js %}
<!-- Pass the static file path as a JavaScript variable -->
<script>
  var kmzFilePath = "{% static 'kmz/Thaibasin.kmz' %}";
</script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-kmz@latest/dist/leaflet-kmz.js"></script>
<script src="{% static 'js/map.js' %}"></script>
{% endblock %}
